In [10]:
#get list of filings - specify time period
import requests
import pandas as pd

sec_url = 'https://www.sec.gov/Archives/'
years = list(range(2015,2020))
quarters = ['QTR1', 'QTR2', 'QTR3', 'QTR4']

past5yr_reports = pd.DataFrame()

for year in years:
    for quarter in quarters:
        download = requests.get(f'https://www.sec.gov/Archives/edgar/full-index/{year}/{quarter}/master.idx').content
        download = download.decode("utf-8", errors='ignore').split('\n')
        df = pd.Series(download[11:])
        df = df.str.split('|', expand=True)
        df = df.dropna()
        past5yr_reports = past5yr_reports.append(df)
        print(str(year) + "-" + str(quarter) + " complete")
        
col = download[9].split('|')
past5yr_reports.columns = col

past5yr_reports['CIK'] = past5yr_reports['CIK'].astype(int)

past5yr_reports.head()

2015-QTR1 complete
2015-QTR2 complete
2015-QTR3 complete
2015-QTR4 complete
2016-QTR1 complete
2016-QTR2 complete
2016-QTR3 complete
2016-QTR4 complete
2017-QTR1 complete
2017-QTR2 complete
2017-QTR3 complete
2017-QTR4 complete
2018-QTR1 complete
2018-QTR2 complete
2018-QTR3 complete
2018-QTR4 complete
2019-QTR1 complete
2019-QTR2 complete
2019-QTR3 complete
2019-QTR4 complete

,CIK,Company Name,Form Type,Date Filed,Filename
0,1000032,BINCH JAMES G,4,2015-03-03,edgar/data/1000032/0001209191-15-021425.txt
1,1000045,NICHOLAS FINANCIAL INC,10-Q,2015-02-09,edgar/data/1000045/0001193125-15-038970.txt
2,1000045,NICHOLAS FINANCIAL INC,8-K,2015-02-04,edgar/data/1000045/0001193125-15-033076.txt
3,1000045,NICHOLAS FINANCIAL INC,CORRESP,2015-02-18,edgar/data/1000045/0001193125-15-052939.txt
4,1000045,NICHOLAS FINANCIAL INC,CORRESP,2015-02-27,edgar/data/1000045/0001193125-15-070110.txt

In [11]:
past5yr_reports.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4821291 entries, 0 to 206456
Data columns (total 5 columns):
CIK             int64
Company Name    object
Form Type       object
Date Filed      object
Filename        object
dtypes: int64(1), object(4)
memory usage: 220.7+ MB

In [12]:
#get list of annual reports

a_reports = past5yr_reports[past5yr_reports['Form Type'] == '10-K'].reset_index(drop=True)
a_reports.head()

,CIK,Company Name,Form Type,Date Filed,Filename
0,1000180,SANDISK CORP,10-K,2015-02-10,edgar/data/1000180/0001000180-15-000013.txt
1,1000209,MEDALLION FINANCIAL CORP,10-K,2015-03-11,edgar/data/1000209/0001193125-15-087622.txt
2,1000228,HENRY SCHEIN INC,10-K,2015-02-11,edgar/data/1000228/0001000228-15-000007.txt
3,1000229,CORE LABORATORIES N V,10-K,2015-02-17,edgar/data/1000229/0001000229-15-000035.txt
4,1000232,KENTUCKY BANCSHARES INC /KY/,10-K,2015-03-20,edgar/data/1000232/0001104659-15-021260.txt

In [13]:
a_reports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36837 entries, 0 to 36836
Data columns (total 5 columns):
CIK             36837 non-null int64
Company Name    36837 non-null object
Form Type       36837 non-null object
Date Filed      36837 non-null object
Filename        36837 non-null object
dtypes: int64(1), object(4)
memory usage: 1.4+ MB

In [14]:
#load S&P 500 list

sp = pd.read_csv("sp_list.csv")

In [15]:
#only get reports for s&p 500 companies

sp_reports = a_reports[a_reports['CIK'].isin(sp['CIK'])].reset_index(drop=True)
sp_reports['URL'] = ""
sp_reports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400 entries, 0 to 2399
Data columns (total 6 columns):
CIK             2400 non-null int64
Company Name    2400 non-null object
Form Type       2400 non-null object
Date Filed      2400 non-null object
Filename        2400 non-null object
URL             2400 non-null object
dtypes: int64(1), object(5)
memory usage: 112.6+ KB

In [16]:
sp_reports.head()

,CIK,Company Name,Form Type,Date Filed,Filename,URL
0,1000228,HENRY SCHEIN INC,10-K,2015-02-11,edgar/data/1000228/0001000228-15-000007.txt,
1,1000697,WATERS CORP /DE/,10-K,2015-02-27,edgar/data/1000697/0001193125-15-067900.txt,
2,1001082,DISH Network CORP,10-K,2015-02-23,edgar/data/1001082/0001104659-15-012777.txt,
3,1002910,AMEREN CORP,10-K,2015-03-02,edgar/data/1002910/0001002910-15-000075.txt,
4,100517,"United Continental Holdings, Inc.",10-K,2015-02-20,edgar/data/100517/0001193125-15-056493.txt,

In [17]:
#Get URL to reports
import re

def get_url(filename):
    sec_url = 'https://www.sec.gov/Archives/'
    txt_site = sec_url + filename
    txt_data = requests.get(txt_site).content.decode("utf-8") 
    htm = re.search('<FILENAME>(.*)\n', txt_data).group(1)
    url = sec_url + filename.replace("-","")[:-4] + "/" + htm
    return url

In [19]:
b = sp_reports

final = pd.DataFrame()

import math
import time

start = time.process_time()

for i in range(1, math.ceil(len(b)/10)):
    a = b[(i-1)*10:i*10]
    a['URL'] = a.apply (lambda row: get_url(row['Filename']), axis=1)
    final = final.append(a)
    print("%d complete - %.2f secs" %(i, time.process_time() - start))
    
remaining_rows = (len(b) % 10)*-1
c = b[remaining_rows:]
c['URL'] = c.apply (lambda row: get_url(row['Filename']), axis=1)
final = final.append(c)

final.to_csv('save1.csv')
final.tail()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

1 complete - 4.24 secs
2 complete - 8.82 secs
3 complete - 12.85 secs
4 complete - 16.48 secs
5 complete - 19.63 secs
6 complete - 23.61 secs
7 complete - 28.75 secs
8 complete - 35.03 secs
9 complete - 40.18 secs
10 complete - 44.49 secs
11 complete - 49.06 secs
12 complete - 53.55 secs
13 complete - 58.85 secs
14 complete - 63.40 secs
15 complete - 67.97 secs
16 complete - 71.90 secs
17 complete - 77.85 secs
18 complete - 81.40 secs
19 complete - 85.61 secs
20 complete - 89.69 secs
21 complete - 95.27 secs
22 complete - 104.14 secs
23 complete - 109.37 secs
24 complete - 113.96 secs
25 complete - 122.12 secs
26 complete - 129.80 secs
27 complete - 135.63 secs
28 complete - 140.10 secs
29 complete - 146.09 secs
30 complete - 150.47 secs
31 complete - 155.98 secs
32 complete - 159.62 secs
33 complete - 164.46 secs
34 complete - 169.41 secs
35 complete - 174.17 secs
36 complete - 178.78 secs
37 complete - 186.58 secs
38 complete - 190.67 secs
39 complete - 193.77 secs
40 complete - 197.16 secs
41 complete - 199.81 secs
42 complete - 202.58 secs
43 complete - 204.80 secs
44 complete - 207.01 secs
45 complete - 210.15 secs
46 complete - 212.38 secs
47 complete - 214.89 secs
48 complete - 217.84 secs
49 complete - 221.49 secs
50 complete - 224.60 secs
51 complete - 227.64 secs
52 complete - 229.99 secs
53 complete - 232.72 secs
54 complete - 236.38 secs
55 complete - 239.58 secs
56 complete - 244.33 secs
57 complete - 247.40 secs
58 complete - 250.57 secs
59 complete - 253.99 secs
60 complete - 257.36 secs
61 complete - 260.21 secs
62 complete - 263.60 secs
63 complete - 266.82 secs
64 complete - 270.64 secs
65 complete - 273.49 secs
66 complete - 275.98 secs
67 complete - 278.73 secs
68 complete - 282.13 secs
69 complete - 285.57 secs
70 complete - 290.73 secs
71 complete - 294.08 secs
72 complete - 296.90 secs
73 complete - 302.19 secs
74 complete - 306.51 secs
75 complete - 309.42 secs
76 complete - 312.81 secs
77 complete - 316.30 secs
78 complete - 319.27 secs
79 complete - 322.86 secs
80 complete - 325.31 secs
81 complete - 328.16 secs
82 complete - 332.29 secs
83 complete - 334.99 secs
84 complete - 339.43 secs
85 complete - 342.88 secs
86 complete - 345.57 secs
87 complete - 348.19 secs
88 complete - 351.01 secs
89 complete - 353.56 secs
90 complete - 356.30 secs
91 complete - 358.58 secs
92 complete - 361.91 secs
93 complete - 364.33 secs
94 complete - 367.04 secs
95 complete - 369.29 secs
96 complete - 372.44 secs
97 complete - 377.22 secs
98 complete - 380.46 secs
99 complete - 383.64 secs
100 complete - 386.55 secs
101 complete - 389.47 secs
102 complete - 394.38 secs
103 complete - 397.76 secs
104 complete - 401.65 secs
105 complete - 404.30 secs
106 complete - 408.30 secs
107 complete - 410.92 secs
108 complete - 414.12 secs
109 complete - 417.63 secs
110 complete - 420.63 secs
111 complete - 423.64 secs
112 complete - 426.99 secs
113 complete - 429.55 secs
114 complete - 431.75 secs
115 complete - 434.83 secs
116 complete - 438.60 secs
117 complete - 442.92 secs
118 complete - 446.92 secs
119 complete - 450.16 secs
120 complete - 454.19 secs
121 complete - 458.83 secs
122 complete - 462.49 secs
123 complete - 465.10 secs
124 complete - 468.43 secs
125 complete - 472.22 secs
126 complete - 475.74 secs
127 complete - 479.18 secs
128 complete - 482.60 secs
129 complete - 485.13 secs
130 complete - 489.51 secs
131 complete - 492.50 secs
132 complete - 496.36 secs
133 complete - 500.25 secs
134 complete - 502.66 secs
135 complete - 505.38 secs
136 complete - 508.12 secs
137 complete - 510.57 secs
138 complete - 512.82 secs
139 complete - 515.04 secs
140 complete - 517.91 secs
141 complete - 519.94 secs
142 complete - 522.43 secs
143 complete - 524.86 secs
144 complete - 528.78 secs
145 complete - 534.23 secs
146 complete - 538.48 secs
147 complete - 541.30 secs
148 complete - 544.23 secs
149 complete - 548.31 secs
150 complete - 552.22 secs
151 complete - 556.26 secs
152 complete - 559.56 secs
153 complete - 562.86 secs
154 complete - 566.35 secs
155 complete - 569.56 secs
156 complete - 572.71 secs
157 complete - 576.11 secs
158 complete - 579.68 secs
159 complete - 582.49 secs
160 complete - 585.86 secs
161 complete - 588.58 secs
162 complete - 590.81 secs
163 complete - 593.90 secs
164 complete - 598.30 secs
165 complete - 601.86 secs
166 complete - 606.78 secs
167 complete - 609.82 secs
168 complete - 614.01 secs
169 complete - 618.30 secs
170 complete - 621.92 secs
171 complete - 625.43 secs
172 complete - 628.87 secs
173 complete - 631.44 secs
174 complete - 634.90 secs
175 complete - 637.18 secs
176 complete - 640.15 secs
177 complete - 643.61 secs
178 complete - 646.62 secs
179 complete - 649.39 secs
180 complete - 653.55 secs
181 complete - 656.80 secs
182 complete - 658.94 secs
183 complete - 661.63 secs
184 complete - 664.40 secs
185 complete - 667.05 secs
186 complete - 669.34 secs
187 complete - 672.03 secs
188 complete - 675.32 secs
189 complete - 678.24 secs
190 complete - 680.99 secs
191 complete - 683.30 secs
192 complete - 686.73 secs
193 complete - 693.60 secs
194 complete - 696.80 secs
195 complete - 699.47 secs
196 complete - 702.63 secs
197 complete - 705.31 secs
198 complete - 709.89 secs
199 complete - 712.93 secs
200 complete - 716.49 secs
201 complete - 719.79 secs
202 complete - 723.57 secs
203 complete - 726.11 secs
204 complete - 729.21 secs
205 complete - 732.53 secs
206 complete - 735.65 secs
207 complete - 738.75 secs
208 complete - 746.23 secs
209 complete - 750.98 secs
210 complete - 754.21 secs
211 complete - 757.29 secs
212 complete - 762.53 secs
213 complete - 768.46 secs
214 complete - 773.38 secs
215 complete - 778.91 secs
216 complete - 782.37 secs
217 complete - 788.50 secs
218 complete - 795.13 secs
219 complete - 799.21 secs
220 complete - 803.12 secs
221 complete - 807.66 secs
222 complete - 810.82 secs
223 complete - 815.28 secs
224 complete - 817.87 secs
225 complete - 821.55 secs
226 complete - 826.69 secs
227 complete - 831.11 secs
228 complete - 835.46 secs
229 complete - 839.93 secs
230 complete - 843.61 secs
231 complete - 846.23 secs
232 complete - 849.57 secs
233 complete - 852.42 secs
234 complete - 855.22 secs
235 complete - 857.87 secs
236 complete - 860.82 secs
237 complete - 864.04 secs
238 complete - 867.79 secs
239 complete - 870.89 secs

,CIK,Company Name,Form Type,Date Filed,Filename,URL
2395,859737,HOLOGIC INC,10-K,2019-11-27,edgar/data/859737/0000859737-19-000026.txt,NaN
2396,866787,AUTOZONE INC,10-K,2019-10-28,edgar/data/866787/0001193125-19-276201.txt,NaN
2397,882184,HORTON D R INC /DE/,10-K,2019-11-25,edgar/data/882184/0000882184-19-000147.txt,NaN
2398,883241,SYNOPSYS INC,10-K,2019-12-20,edgar/data/883241/0000883241-19-000019.txt,NaN
2399,909832,COSTCO WHOLESALE CORP /NEW,10-K,2019-10-11,edgar/data/909832/0000909832-19-000019.txt,NaN

In [59]:
final.tail()

,Unnamed: 0,CIK,Company Name,Form Type,Date Filed,Filename,URL
2395,2385,52988,JACOBS ENGINEERING GROUP INC /DE/,10-K,2019-11-25,edgar/data/52988/0000052988-19-000069.txt,https://www.sec.gov/Archives/edgar/data/52988/...
2396,2386,6281,ANALOG DEVICES INC,10-K,2019-11-26,edgar/data/6281/0000006281-19-000144.txt,https://www.sec.gov/Archives/edgar/data/6281/0...
2397,2387,6951,APPLIED MATERIALS INC /DE,10-K,2019-12-13,edgar/data/6951/0000006951-19-000046.txt,https://www.sec.gov/Archives/edgar/data/6951/0...
2398,2388,711404,"COOPER COMPANIES, INC.",10-K,2019-12-20,edgar/data/711404/0000711404-19-000051.txt,https://www.sec.gov/Archives/edgar/data/711404...
2399,2389,720005,RAYMOND JAMES FINANCIAL INC,10-K,2019-11-26,edgar/data/720005/0000720005-19-000086.txt,https://www.sec.gov/Archives/edgar/data/720005...

In [84]:
final[final['Company Name'].str.contains('Facebook')]['URL'].to_list()

['https://www.sec.gov/Archives/edgar/data/1326801/000132680115000006/fb-12312014x10k.htm',
 'https://www.sec.gov/Archives/edgar/data/1326801/000132680116000043/fb-12312015x10k.htm',
 'https://www.sec.gov/Archives/edgar/data/1326801/000132680117000007/fb-12312016x10k.htm',
 'https://www.sec.gov/Archives/edgar/data/1326801/000132680118000009/fb-12312017x10k.htm',
 'https://www.sec.gov/Archives/edgar/data/1326801/000132680119000009/fb-12312018x10k.htm']